.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  margin: 30px;
  height: 60%;
  width: 50%;
  float: right;
}

#map {
  height: 100%;
}
