<div class="container">
  <div class="upper-container">
    <div class="info-boxes" *ngIf="tour">
      <div class="info-box">{{tour.id}}.Tour - {{tour.name}}</div>
      <div class="info-box">Description: {{tour.description}}</div>
      <div class="info-box">Departure: {{tour.departure}}</div>
      <div class="info-box">Arrival: {{tour.arrival}}</div>
      <div class="info-box">Distance: {{tour.distance}}</div>
      <div class="info-box">Transport Type: {{tour.transportType}}</div>
      <div class="info-box">Estimated Time: {{tour.estimatedTime}}</div>
    </div>
    <div class="map">
      <!--<app-tour-map></app-tour-map>-->
    </div>
  </div>

  <div class="lower-container">
    <div class="tour-log-creation">
      Tourlogs
      <button class="btn btn-outline-info my-2 my-sm-0" routerLink="/createTourlog">+</button>
      <button class="btn btn-outline-info" routerLink="/updateTourlog" type="button">Update</button>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Distance</th>
              <th scope="col">Difficulty</th>
              <th scope="col">Rating</th>
              <th scope="col">Comment</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tourlog of tourlogs">
              <td>{{ tourlog.id }}.Tour</td>
              <td>{{ tourlog.date }}</td>
              <td>{{ tourlog.totalTime }}</td>
              <td>{{ tourlog.totalDistance }}</td>
              <td>{{ tourlog.difficulty }}</td>
              <td>{{ tourlog.rating }}</td>
              <td>{{ tourlog.comment }}</td>
              <td><button class="btn btn-outline-info" (click)="tourlogDelete(tourlog.id)" type="button">Delete</button> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
