<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Arrival</th>
          <th scope="col">Departure</th>
          <th scope="col">Transport Type</th>
          <th scope="col">Distance</th>
          <th scope="col">Estimated Time</th>
          <th scope="col">RouteImage</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let tour of tour">
            <td> {{tour.id}} </td>
            <td> {{tour.name}} </td>
            <td> {{tour.description}} </td>
            <td> {{tour.arrival}} </td>
            <td> {{tour.departure}} </td>
            <td> {{tour.transportType}} </td>
            <td> {{tour.distance}} </td>
            <td> {{tour.estimatedTime}} </td>
            <td> {{tour.routeImage}} </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
