<nav class="navbar navbar-light bg-light">
  <div class="container-fluid" id="navContainer">
    <a class="navbar-brand text-primary">Tourplanner</a>
    <div class="container" id="searchContainer">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="searchButton">Search</button>
      </form>
      <a routerLink="/create" class="btn btn-info">Create Tour</a>
      <a routerLink="/all" class="btn btn-info">Tours</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

